html, body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background:#0b0f0b;
  overflow:hidden;
  font-family: Arial, sans-serif;
}

#game-container{
  width:100vw;
  height:100vh;
}

canvas{
  display:block;
  width:100% !important;
  height:100% !important;
  touch-action:none;
}
