html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
  width: 100%;
  height: 100%;
}

#game-container {
  width: 100vw;
  height: 100vh;
}

/* Phaser injeta o canvas. Deixe ele responsivo sem “esticar” */
canvas {
  display: block;
  margin: 0 auto;
}
